@import '../../../public/sass/main.scss';

.App {
    padding: $gutter-vertical $gutter-horizontal;
    text-align: center;
    background-image: linear-gradient(to bottom, $color-primary, $color-primary-light);
    color: white;
    height: 100vh;
}
