.content-section-header {
  font-size: 3.5rem;
  font-weight: 200;
  color: $color-white;
  padding-bottom: $padding-in-card;
}

.section-header {
  font-size: 2.5rem;
  font-weight: 200;
  text-align: left;
  margin: $padding-in-card;
}