@import '../../../../public/sass/main.scss';

.CloseApproachData {
  background-color: $color-primary-light;
  font-size: $default-font-size;
  height: 25vh;

  .content {
    height: 16vh;
  }

  p {
    display: inline;
  }

  ul {
    list-style: none;

    li {
      margin-left: $padding-in-card;
    }
  }
}