.card {
  padding: 1rem 2rem;
  background-color: $color-primary;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -ms-border-radius: $border-radius;
  -o-border-radius: $border-radius;
}