.content-section {
  max-height: 80vh;
  overflow: auto;
  padding: 1rem 2rem;
  background-image: linear-gradient(to bottom, $color-primary, $color-primary-light);
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -ms-border-radius: $border-radius;
  -o-border-radius: $border-radius;
}