
@import "../../../../public/sass/main.scss";

.contents {
  background-color: $color-primary-light;
  font-size: $default-font-size;
  padding: $padding-in-card;
  overflow: hidden;
  margin: 1rem auto;
}