
@import "../../../../public/sass/main.scss";

.neo-card {
  background-color: $color-primary-light;
  font-size: $default-font-size;
  padding: $padding-in-card;
  overflow: hidden;
  margin: 1rem auto;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -ms-border-radius: $border-radius;
  -o-border-radius: $border-radius;
}

img.neo-card-photo {
  background: $color-primary;
  border-radius: 50%;
  padding: 1rem;
}

.neo-card-title {
  background: $color-primary;
  border-radius: 10px;
  padding: 0.5rem;
}

.neo-card-details {
  background: $color-primary;
  border-radius: 10px;
  padding: 0.5rem;
}