
@import "../../../../public/sass/main.scss";

.neo-card {
  background-color: $color-primary-light;
  font-size: $default-font-size;
  padding: $padding-in-card;
  overflow: hidden;
  margin-bottom: $padding-in-card;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -ms-border-radius: $border-radius;
  -o-border-radius: $border-radius;
  transition: 0.15s;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
}

.neo-card:hover {
  cursor: pointer;
  box-shadow: 0 16px 12px 0 rgba(0,0,0,0.5);
  transform: scale(1.05) translateY(-0.5rem);
  transition: 0.15s;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  background-color: $color-accent-blue-dark;
}

.neo-card:active {
  background-color: $color-accent-blue;
  transform: scale(1.05) translateY(0.2rem);
  transition: 0s;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
}

.neo-card.selected {
  background-color: $color-accent-blue;
  transform: scale(1.05) translateY(-0.5rem);
  transition: 0.15s;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
}

img.neo-card-photo {
  background: $color-primary;
  border-radius: 50%;
  padding: 1rem;
}

.neo-card-title {
  background: $color-primary;
  border-radius: 10px;
  padding: 0.5rem;
}

.neo-card-details {
  background: $color-primary;
  border-radius: 10px;
  padding: 0.5rem;
}