// COLORS
$color-primary: #000338;
$color-primary-light: #0E1A52;

// ACCENT
$color-accent-blue: #4854b8;
$color-accent-blue-dark: #415a94;
$color-accent-blue-light: #33eff0;
$color-accent-green: #007b33;
$color-accent-orange: #cc934d;
$color-accent-red: #ae2224;
$color-accent-yellow: #f8fba6;

// GREY
$color-white: #ffffff;
$color-grey-lighter: #7e7e80;
$color-grey-light: #47474a;
$color-grey-dark: #131313;
$color-grey-darker: #0e0e0e;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 150rem;
$gutter-horizontal: 2rem;
$gutter-vertical: 2rem;
$padding-in-card: 2rem;

// BORDER
$border-color: #494b6f;
$border-width: 0.1rem;
$border-radius: 0.6rem;